<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>blog</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <link rel="stylesheet" href="editor.md/css/editormd.css" />


  <!--style 标签中写的就是css-->
<style>
    [v-cloak]{
        display: none;
    }
</style>
</head>

<body id="blog">

 <header class="am-topbar">
  <h1 class="am-topbar-brand">
    <a href="#">iTXCode</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a href="/client_code/admin.html">首页</a></li>
      <li><a href="" >新增博客</a></li>
      <li class="am-dropdown" data-am-dropdown>
      </li>
    </ul>
  </div>
</header>

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed" id="app">
    <article class="am-g blog-entry-article" v-for="tag in tags" v-cloak>
        <span    :value="tag.tag_id" style = "color:snow;"> {{tag.tag_name}} &nbsp;</span>
        
            <button type="button" class="am-btn am-btn-danger am-round" v-on:click="delete_tag(tag.tag_id)">删除</button>
            
            <button :value="tag.tag_id"  onclick="ck();" type="button" class="am-btn am-btn-success am-round">编辑</button>
    </article>
        <div class="am-u-md-8 am-u-sm-12" v-cloak>
            <div class="am-form">
                <div class="am-form-group" style="width: 150%;">
                    <label for="doc-ipt-email-1" style="color:snow; ">标签名称</label>
                    <input type="email" class=""  v-model="tag.tag_name" placeholder="添加新的标签吧">
                </div>
            </div>

          <!--先使用editor.md完成markdown 到 html 的转换-->

          <button type="button" class="am-btn am-btn-success am-round" v-on:click="add_tag()">发布
              
          <button type="button" class="am-btn am-btn-success am-round" v-on:click="init()">刷新本页面
        
              
        </div> 
</div>
<!-- content end -->


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>

<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="editor.md/lib/marked.min.js"></script>
<script src="editor.md/lib/prettify.min.js"></script>
<script src="editor.md/lib/raphael.min.js"></script>
<script src="editor.md/lib/underscore.min.js"></script>
<script src="editor.md/lib/sequence-diagram.min.js"></script>
<script src="editor.md/lib/flowchart.min.js"></script>
<script src="editor.md/lib/jquery.flowchart.min.js"></script>
<script src="editor.md/editormd.js"></script>


<script>
  var ck = function(){
        var x = prompt ("输入修改后的名称:", "Tom");/*第一个变量为提示语，第二个变量为默认初始值*/
        alert(x);
        var body={
            url:"/tag/" + this.tag.tag_id,
            tag_name:this.tag.tag_name,
        };
        
        $.ajax({
            type:"get",
            url:url,
            data: JSON.stringify(body),
            contentType: 'application/json;charset=utf-8',
            context: this,
            sucess:function(data,status){
                alert("标题修改成功！");
            }
        })
       
    }
   


    var app = new  Vue({
        el: '#app',  //e1表示app这个Vue 对象和哪个HTML相关联let province_;
        
        data: {
            //data表示所有需要在页面上动态变化的数据
            //把js中的数据和界面上的内容关联在一起,数据绑定的过程
            author: 'iTXCode',
            blogs: [
               //获取博客列表
            ],
           tags: [
              //获取标签列表  
           ],
           blog: {
               //点击博客标题进入标签,用来保存当前页面上栈实的博客的详细内容
               blog_id:null,
               title:null,
               content:null,
               tag_id:null,
               create_time:null,
           },
           tag:{
               tag_name:null,
           }
        },
        methods: {
            get_tag(tag_id){
               var url='/tag/'+ tag_id;
               $.ajax({
                   url:url,
                   type:"get",
                   success:function(data,status){
                       this.tag=data;
                   }
               })
            },
           
           get_tags(){
            var url = '/tag';
            //获取后端代码的地址:'http://http://121.199.69.125:9093/blog'

            //最核心操作,访问http服务器的数据
            //ajax 原生API特别难用,Vue也提供了API，环境配置很麻烦
            //此处我们使用JQuery 提供的 API
            $.ajax({
                url: url,
                type: "get",
                context: this,
                success:function(data,status){
                    //data表示响应的body数据
                    //status表示响应的 状态码
                    //HTTP请求成功之后执行这个代码.
                    //在这个代码中更新数据.
                    //如果不设置context，此时直接使用this.blogs是出错的
                    //因为此时的this表示当前$ 这样的对象而不是Vue对象
                    //加上context之后,this就表示context中的值
                    this.tags =  data;
                }
            })
        },
        init(){
            //1.从服务器上获取tag
            $.ajax({
                type: "get",
                url: "/tag",
                context: this,
                success: function (data,status) {
                    this.tags = data;
                    //2.从服务器上获取博客
                    //更建议打家把get_blogs写到回调内部
                    //因为需要先获取到tag信息,然后才能获取博客列表,
                    //否则tag_id 和 tag_name 的映射关系没办法建立
                    this.get_tags();
                }
            })
            
        },
        //点击博客标题的时候来调用对应的博客页面

        
            add_tag(){
               
                var body={
                    //定义的body用来构造更新后的插入内容
                   tag_name:this.tag.tag_name,
                };

                $.ajax({
                    type: "post",
                    url: "/tag",
                    data: JSON.stringify(body),
                    contentType: 'application/json;charset=utf-8',
                    context: this,
                    success:function(data,status)
                    {
                        alert("发布成功");
                    }
                })
            },

           
            back(){
                this.blog={};
            },
            delete_tag(tag_id){
                $.ajax({
                    url:"/tag/"+tag_id,
                    type:"delete",
                    success:function(data,status){
                        alert("删除标签成功");
                    }
                })
            },
            update_tag(tag_id){
                var url="/tag/"+tag_id;
                var body={
                    tag_name:this.tag.tag_name,
                }

                $.ajax({
                    type: "update",
                    url: url,
                    data: JSON.stringify(body),
                    contentType: 'application/json;charset=utf-8',
                    context: this,
                    success:function(data,status)
                    {
                        alert("修改成功！");
                    }
                })
            },
            
          
       },
       
    });

//初始化的获取数据
app.init();
</script>

</body>
</html>


